- provide(:title, @user.name)
.row
  %p
    %strong Name:
    = @user.name
  %p
    %strong Email:
    = @user.email
  - @notifications.each do |notification|
    .row
      .col-md-3
        %p
          %strong SendTime:
          = notification.send_time.hour
      .col-md-3
        %p
          %strong Rainfall:
          = notification.rainfall
      .col-md-3
        %p
          %strong region:
          = notification.region
.row
  %p
    = link_to 'Edit', edit_user_path(@user)
    |
    \#{link_to 'Back', users_path}
